:root {
  /*font-size: 20px;*/
  --primary: #fb8516;
  --secondary: #4248bd;
  --Light: #ffffff;
  --Dark: #1111111;
  --Lighy-secondary: #fff3e7;
  --footer: #333333;
}

body{
  margin: 0;
  font-family:'Kumbh Sans', sans-serif;
}

/*******************************/
header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  
  .Logo {
    color: var(--pink);
    font-size: 24px;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
  }
  .fa-bars {
    font-size: 30px;
    cursor: pointer;
    /* padding-right: 5px;*/
  }
}
/*****************Main***********/
main{
  
  /*****************************Section1*******/
  .section1{
    background-color: var(--secondary);
    /*object-fit:fill;*/ 
    .Pflamme{
      line-height: 25px;
      span{
        color: var(--Light);
        em{ color: var(--primary);
         font-size: 25px;}
         font-family: 'Kumbh Sans', sans-serif;
        font-size: 22px;
        margin: 0px;
        
     }
    }
    
   p{
    font-family: 'Kumbh Sans';
    font-size: 36px;
    color: var(--Light);
    margin: 20px;
   }
   button{
    background-color: var(--primary);
    color: var(--Light);
    border: none;
    width: 150px;
    height: 52px;
    border-radius: 7px;
    font-size: 17px;
    margin: 20px;
  }
  .promo{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Kumbh Sans';
       em{
         color: var(--primary);
         font-size: 18px;
         margin-top: 0;
       }
     }
  }
  .section1 > :first-child{
     margin-left: 20px;
     margin-right: 20px;
    /*background-color: #333333;*/
    font-family: 'Kumbh Sans';
    
  }
  /***************************Section2*******************/

  h1{
    font-size: 34px;
    text-align: center;
    padding: 20px;
    font-family: 'Kumbh Sans';
    
  }
  .hebergeur > article{
  
      background-color: var(--primary);
      height: 300px;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 7px;
      border-radius: 7px;
      color: var(--Light);
      font-size: 24px;
      display: flex;
      flex-direction: column; /* Organiser les éléments en colonne */
      justify-content: center; /* Centrer le contenu verticalement */
      align-items: center; /* Centrer le contenu horizontalement */

      img {
        
        margin-bottom: 20px; /* Espacement sous l'image */
      }
      
      p {
        margin: 0; /* Annuler tout marge par défaut */
        line-height: 1.5; /* Améliorer l'espacement entre les lignes de texte */
      }
    
  }
  p:hover {
    color: aqua; cursor: pointer;;
  }
  /**********************************Section3*************/
  .Presentation{
    background-color: var(--Lighy-secondary);
    font-size: 20px;
    font-family:'Kumbh Sans', sans-serif;
    h2{
      color: var(--secondary);
      margin-left: 40px;
      margin-right: 40px;
    }
    p{
      margin-left: 40px;
      margin-right: 40px;
    }
    
  }
  /****************************Section3*****************/
  .Assistance{
  .border{
    border: 3px solid var(--primary);
    margin-left: 40px;
   margin-right: 40px;
   margin-top: 10px; 
  }
  h2{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 34px;
  }
  p{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
  }
  button{
    background-color: var(--primary);
    color: var(--Light);
    border: none;
    width: 150px;
    height: 52px;
    border-radius: 7px;
    font-size: 17px; 
    margin-left: 40px;
  } 
  article > p{
    line-height: 10px;
    margin-left: 40px;
    margin-top: 20px;
    
       }
  .Contact{
    color: var(--primary);
  }
}

/*******************************Section4****************/
.Choisissez{
  background-color: var(--Lighy-secondary);
  }
}


